<html>
<head>
<title>LK</title>

</head>
<body>
<center>
<img width="270px" height="129px" style='margin:30px;' src="{{.FullURI}}com/twimg/pbs/db.b/media/BEXNwRyCcAEwfs7.png"></img>
<br>

<div id="main" style="margin:30px;">
<form action='/proxy.php' method='GET'>
	<input name="url" size='50' style='height:30px;'></input>
	<input type='submit' style='width:95px;height:30px;' value='Go'>
</form>
</div>

<div id="footer" style="margin:100px 10px 10px 10px;">
<br>
Copyright cppbreak
</div>

</body>
</html>

